<template name="register">
	<form class="form-horizontal main container" role="form">
		<div class="form-group">
			<h1 class="pLogin">Please Register Here</h1>
			<div class="col-lg-6 {{errorClass 'email'}}">
				<label class="control-label" for="email">Email</label>
				<div class="controls">
					<input class="form-control" name="email" type="email" value="" placeholder="Email"/>
					<span class="help-block">{{errorMessage 'email'}}</span>
				</div>
			</div>
			<div class="col-lg-6 {{errorClass 'username'}}">
				<label class="control-label" for="username">Username</label>
				<div class="controls">
					<input class="form-control" name="username" type="text" value="" placeholder="Username"/>
					<span class="help-block">{{errorMessage 'username'}}</span>
				</div>
			</div>
			<div class="col-lg-6 {{errorClass 'password'}}">
				<label class="control-label" for="email">Password</label>
				<div class="controls">
					<input class="form-control" name="password" type="password" value="" placeholder="Password"/>
					<span class="help-block">{{errorMessage 'password'}}</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Register" class="regButton submitButton btn btn-lg btn-success"/>
				</div>
			</div>
		</div>
	</form>
</template>